$heading-font-family:         'Bebas Neue', cursive !default;
$body-font-family:            'PT Sans', sans-serif !default;

// Ratio: 1.333 (4:3)
$x5l-size:                    5.61rem !default;
$x4l-size:                    4.209rem !default;
$xxxl-size:                   3.157rem !default;
$xxl-size:                    2.369rem !default;
$xl-size:                     1.777rem !default;
$lg-size:                     1.333rem !default;
$md-size:                     1rem !default;
$sm-size:                     0.75rem !default;
$xs-size:                     0.563rem !default;
$xxs-size:                    0.422rem !default;
$xxxs-size:                   0.317rem !default;
$x4s-size:                    0.238rem !default;

// Colors
$yellow:                      #ffde08 !default;
$alabaster:                   #fafafa !default;
$dove-gray:                   #636363 !default;
$edward:                      #adb8b5 !default;
$pewter:                      #909e9a !default;

$white:                       #ffffff !default;
$black:                       #000000 !default;
$gray:                        #eeeeee !default;
$box-shadow:                  #cccccc !default;

$h1-font-size:                $x5l-size !default;
$h2-font-size:                $xxl-size !default;
$h3-font-size:                $lg-size !default;
$h4-font-size:                $md-size !default;

$base-font-size:              18px !default;
$heading-letter-spacing:      2px !default;

$image-width:                 42.86% !default;

$tablet:                      1280px !default;

@font-face {
  font-family: 'fontello';
  src: url('assets/icons/fontello.eot?12209906');
  src: url('assets/icons/fontello.eot?12209906#iefix') format('embedded-opentype'),
  url('assets/icons/fontello.woff?12209906') format('woff'),
  url('assets/icons/fontello.ttf?12209906') format('truetype'),
  url('assets/icons/fontello.svg?12209906#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: $base-font-size;
}

h1 {
  font-size: $h1-font-size;
  color: $edward;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  letter-spacing: $heading-letter-spacing;
  margin-top: 0;
}

h2 {
  border-bottom: dashed 4px $yellow;
  font-size: $h2-font-size;
  color: $edward;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
  color: $pewter;
}

ul li {
  margin-bottom: $x4s-size;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px;
  transition: color 0.250s;

  &:hover, &:active {
    color: $yellow;
  }
}

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $body-font-family;
  background-color: $alabaster;
  color: $dove-gray;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .left {
    width: 100%;
    height: 100vh;
    box-shadow: 5px 0 5px -5px $box-shadow;
    background-image: url("assets/photo-2.jpeg");
    background-size: cover;
  }

  .right {
    padding: $lg-size $x5l-size;
    flex-grow: 1;

    .scrim {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: lighten($black, 15%);
      z-index: 1;
      opacity: 0.3;
    }

    .head {
      text-align: center;
      margin: $xxl-size 0 $x4l-size 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;

      h1 {
        color: $yellow;
        text-shadow: 1px 1px $edward;
      }

      p {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        font-size: $md-size;
        font-weight: bold;
        color: darken($white, 5%);
      }

      .contact-info {
        display: inline-flex;
        margin: $xxxl-size auto $xl-size auto;
        font-size: $sm-size;
        flex-wrap: wrap;
        justify-content: center;
        color: darken($white, 5%);

        > div {
          display: flex;
          align-items: center;
          margin-bottom: $xxs-size;

          &:after {
            content: "|";
            padding-right: $lg-size;
            padding-left: $lg-size;
          }

          &:last-child {
            &:after {
              content: '';
              padding: 0;
            }
          }
        }
      }
    }

    @media only screen and (min-width: $tablet) {
      .scrim {
        display: none;
      }

      .head {
        position: static;

        p {
          color: inherit;
        }

        .contact-info {
          color: inherit;
          opacity: 0.7;
        }
      }
    }

    .intro {
      margin-bottom: $x4l-size;

      p {
        font-size: $lg-size;
      }

      p::first-letter {
        font-size: $xxl-size;
        font-family: $heading-font-family;
      }
    }

    .section {
      margin-bottom: $x4l-size;

      h3, h4 {
        margin-bottom: 0;
      }

      .top-row {
        display: flex;
        align-items: center;
        margin-bottom: $md-size;

        > * {
          flex-grow: 1;
        }
      }

      .experience, .education {
        margin-bottom: $xxxl-size;
      }

      .experience {
        .manager {
          font-size: $sm-size;
          color: $pewter;

          span:first-child {
            font-weight: bold;
          }

          span:last-child {
            font-style: italic;
          }
        }
      }

      .duration {
        text-align: right;
        font-size: $sm-size;
        color: $pewter;
      }

      .cards {
        .card {
          border: solid 1px $gray;
          transition: box-shadow .1s ease-in-out;
          background-color: $white;
          margin-bottom: $xl-size;
          display: flex;
          padding: $lg-size;

          .card-left {
            margin-right: 1rem;

            img {
              border-radius: 50%;
              border: solid 1px $gray;
            }
          }

          .card-right {
            flex-grow: 1;

            .reputation {
              display: flex;
              align-items: center;
              font-size: $sm-size;
              color: $pewter;

              > div:not(:last-child) {
                margin-right: $md-size;
              }
            }
          }
        }
      }

      .languages {
        .language {
          display: flex;
          align-items: center;
          margin-bottom: $xs-size;

          div:first-child {
            width: 12rem;
            font-size: $lg-size;
          }

          .fluency {
            display: flex;

            span {
              width: $lg-size;
              height: $lg-size;
              margin-right: $md-size;
              border: solid 2px $pewter;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.250s;

              &.selected {
                background-color: $pewter;

                &:hover {
                  background-color: $yellow;
                }
              }

              &:hover {
                border-color: $yellow;
              }
            }
          }
        }
      }

      .interests {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 5px 8px;
          background-color: lighten($yellow, 20%);
          margin-right: $md-size;
          border-radius: 5px;
          margin-bottom: $sm-size;
          cursor: pointer;
        }
      }
    }

    .chips {
      display: flex;
      flex-wrap: wrap;
      font-size: $sm-size;

      .chip {
        cursor: pointer;
        background: $dove-gray;
        border-radius: 3px 0 0 3px;
        color: $alabaster;
        display: inline-block;
        height: 1.625rem;
        line-height: 1.625rem;
        padding: 0 1rem 0 1.25rem;
        position: relative;
        margin: .625rem .5rem 0 0;
        transition: all .25s;

        &::before {
          background: $alabaster;
          border-radius: .625rem;
          box-shadow: inset 0 1px rgba(0,0,0,.25);
          content: '';
          height: .375rem;
          left: .5rem;
          position: absolute;
          width: .375rem;
          top: .65rem;
          transition: all .25s;
        }

        &::after {
          background: $alabaster;
          border-bottom: .8125rem solid transparent;
          border-left: .625rem solid $dove-gray;
          border-top: .8125rem solid transparent;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          transition: all .25s;
        }

        &:hover {
          background-color: $yellow;
          color: $dove-gray;

          &::after {
            border-left: .625rem solid $yellow;
          }
        }
      }
    }

    footer {
      .social-links {
        text-align: center;

        i {
          color: $dove-gray;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) {

  body {
    flex-direction: row;

    .left {
      width: $image-width;
      position: fixed;
    }

    .right {
      margin-left: $image-width;
    }
  }
}